<ion-header>
  <ion-navbar>
    <ion-title>Settings</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-icon *ngIf="isChecked" name="mic" item-start></ion-icon>
    <ion-icon *ngIf="!isChecked" name="mic-off" item-start></ion-icon>
    <ion-label>Voice Notification</ion-label>
    <ion-checkbox color="dark" [(ngModel)]="notif" (click)="setNotif(notif)" item-right></ion-checkbox>
  </ion-item>
  <ion-item (tap)="rootpage()">
    <ion-icon name="checkmark-circle-outline" item-start></ion-icon>
    <ion-label>Default Page</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon name="map" item-start></ion-icon>
    <ion-label color="dark">Map Type</ion-label>
    <ion-select [(ngModel)]="mapKey">
      <ion-option
        *ngFor="let mapKey of maps"
        [value]="mapKey"
        (ionSelect)="onChangeMap(mapKey)"
        [selected]="selectedMapKey === mapKey"
        >{{ mapKey }}</ion-option
      >
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-icon name="custom-fuel" item-start></ion-icon>
    <ion-label color="dark">Fuel Unit</ion-label>
    <ion-select [(ngModel)]="fuelKey" >
      <ion-option
        *ngFor="let fuelKey of fuels"
        [value]="fuelKey"
        (ionSelect)="onChangeFuel(fuelKey)"
        [selected]="islogin.fuel_unit === fuelKey"
        >{{ fuelKey }}</ion-option
      >
    </ion-select>
  </ion-item>
</ion-content>