<ion-menu [content]="content" [swipeEnabled]="false" (ionOpen)='chkCondition()'>
  <ion-header>
  </ion-header>
  <ion-content id=outerNew>
    <div class="headProf">
      <img src="assets/imgs/dummy-user-img.png">
      <div>
        <h4>{{islogin.fn}}&nbsp;{{islogin.ln}}</h4>
        <p style="font-size: 12px">
          <ion-icon name="mail"></ion-icon>&nbsp;{{islogin.email}}</p>
        <p style="font-size: 12px">
          <ion-icon name="call"></ion-icon>&nbsp;{{islogin.phn}}</p>
      </div>
    </div>
    <side-menu-content [settings]="sideMenuSettings" [options]="options" (change)="onOptionSelected($event)"></side-menu-content>
  </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>