fuel-events {
  ion-card, .card-ios, .card-md {
    border: 0 !important;
    box-shadow: none !important;
    border: none !important;
    border-style: none !important;
    position: relative;
    text-align: center;
  }
  .card{
    border: 0 !important;
    box-shadow: 0 !important;
    border: none !important;
    border-style: none !important;
  }
}
